.partners {
  width: 100%;
  margin: 100px 0;

  @media (max-width: 992px) {
    margin: 60px 0;
  }

  .container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
    height: 100%;
    margin: 0 auto;
    max-width: 1512px;
    transition: all 0.2s ease-in-out;
    padding: 60px;

    @media (max-width: 1512px) {
      max-width: 1280px;
    }

    @media (max-width: 1280px) {
      max-width: 1024px;
    }

    @media (max-width: 1024px) {
      max-width: 992px;
    }

    @media (max-width: 992px) {
      max-width: 768px;
      align-items: center;
    }

    @media (max-width: 768px) {
      max-width: 576px;
    }

    @media (max-width: 576px) {
      max-width: 100%;
      padding: 0px 20px;
    }

    .partnersContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .title {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 52px;
        line-height: 72px;
        letter-spacing: -0.02em;
        color: #ffffff;
      }

      @media (max-width: 992px) {
        width: 80%;
        align-items: center;
        text-align: center;
        padding: 0 0;

        .title {
          font-size: 32px;
          line-height: 44px;
        }
      }
    }

    .clientsContainer {
      width: 100%;
      position: relative;

      .left,
      .right {
        position: absolute;
        top: 0;
        height: 100%;
        width: 140px;
        z-index: 99;

        @media (max-width: 576px) {
          width: 40px;
        }
      }

      .left {
        left: -10px;
        background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
      }

      .right {
        right: -10px;
        background: linear-gradient(-90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
      }
    }
  }
}
