.clientLogo {
  width: 140px;
  height: 140px;
  background-color: #414141;
  border: 2px solid #4c4c4c;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 16px;

  @media (max-width: 576px) {
    width: 100px;
    height: 100px;
    margin: 0 8px;
  }

  img {
    width: 80%;
    height: 60%;
  }
}
